
<div class ="container">
  <h1>Post Creating</h1>
<form action="/posts/new" method="POST">
  <br>
    <b> Title: </b>
  <br> 
    <input type="text" name="post[title]">
  <br>
  <br>
    <b>Content: </b>
  <br>
    <textarea name="post[content]" rows="10" cols="20"></textarea>
  <br>
  <br>

  <br>
   <b>Tags: </b>
   <br>
  <input type="text" name="tags">
    <label for="post_tags">(** RMBR to separate added tags via comma ",")
  </label>
  <br>
  <br>  

  <input type="submit" name="submit" value="Create!" >
</form>


</div>